rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Kitchen images
    match /kitchens/{allPaths=**} {
      allow read, write: if request.auth != null;
    }

    // Kitchen item images
    match /kitchen_items/{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}
